{% include "header.html" %}

<!-- Page Header-->
<header
		class="masthead"
		style="background-image: url('../static/assets/img/about-bg.png'); background-size: cover;"
>
  <div class="container position-relative px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
	  <div class="col-md-10 col-lg-8 col-xl-7">
		<div class="page-heading">
		  <h1>About Me</h1>
		  <span class="subheading">This is what I do.</span>
		</div>
	  </div>
	</div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
	  <div class="col-md-10 col-lg-8 col-xl-7">
		<p>
		  Hey there, web world! I'm Dickie, your enthusiastic and adventurous junior-level web developer ready to dive headfirst into the exciting world of coding and creativity!
		</p>
		<p>
		  With a passion for problem-solving and a love for all things tech, I'm on a quest to learn, grow, and make a splash in the ever-evolving landscape of web development. Armed with a solid foundation in HTML, CSS, and JavaScript, I'm eager to expand my skills and tackle new challenges with gusto.
		</p>
		<p>
		  But don't let my junior status fool you—I bring a fresh perspective, boundless energy, and a whole lot of enthusiasm to the table. From crafting clean and user-friendly interfaces to delving into the world of responsive design, I'm eager to roll up my sleeves and get my hands dirty (metaphorically speaking, of course).
		</p>
		<p>
		  Outside of coding, you can often find me making music, indulging my creative side with some DIY projects, or getting lost in a good space game. I believe that life is all about balance, and I'm committed to bringing that same sense of balance and joy to my work as a web developer.
		</p>
		<p>
		  So, if you're looking for a junior dev who's not afraid to think outside the box, push the boundaries, and have a little fun along the way, then look no further! I'm ready to learn, grow, and embark on this exciting journey with you. Let's build something amazing together!
		</p>
	  </div>
	</div>
  </div>
</main>

{% include "footer.html" %}
